<!DOCTYPE html>
<html>
  <head>
    <title>SMaps: Ribeirão Preto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bundle.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/apps/place.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/apps/icons.css" rel="stylesheet" media="screen">
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />



    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRlyM-oePOmQPzAshLUpBdVu66iL3ItgI&sensor=false">
    </script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/package-quojs-2.3.1/quo.js"></script>
    <script src="{{ STATIC_URL }}js/bundle.js"></script>
    <script src="{{ STATIC_URL }}js/apps/place.js"></script>

  </head>
  <body>
    
    


    

    <div id="map"></div>
    <!-- maps -->
    <div class="control-container">
    </div>
    <div class="geolocationBT"></div>

    <!-- board -->
    <div class="front-board">
    	{% block content %}
        {% endblock %}
    </div>
    <div class="front-board-arrow-BT closeBtn">
    </div>
  </body>
</html>