<!DOCTYPE html>
<html>
  <head>
    <title>SMaps: Ribeirão Preto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">




    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRlyM-oePOmQPzAshLUpBdVu66iL3ItgI&sensor=false">
    </script>
    <script type="text/javascript">

      var neighborhoods = [];

      $.getJSON("/place/json").done(function (json){
        $.each(json, function(key, value){
          val = value.fields.position.split(',');
          neighborhoods.push(new google.maps.LatLng(val[0], val[1]));
          
        })
        drop();
      });

        var markers = [];
        var iterator = 0;

        var map;


      function initialize() {

        var mapOptions = {
          center: new google.maps.LatLng(-21.172247, -47.809238),
          zoom: 15,
          overviewMapControl: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      function drop() {
  for (var i = 0; i < neighborhoods.length; i++) {
    setTimeout(function() {
      addMarker();
    }, i * 150);
  }
}

function addMarker() {
  markers.push(new google.maps.Marker({
    position: neighborhoods[iterator],
    map: map,
    draggable: false,
    animation: google.maps.Animation.DROP
  }));
  iterator++;
}
    </script>
  </head>
  <body>
    
    <script src="/static/js/bootstrap.min.js"></script>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">SMaps</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="map-canvas" style="width: 100%; height: 93.1% ; top: 41px; "></div>

  </body>
</html>